<form action="/" method="GET">
    <br><label> Имя <input name="name" type="text"> </label><br>
    <label> Номер телефона <input name="phoneNumb" type="text"> </label><br>
    <label> Адрес <input name="address" type="text"> </label><br>
    <button type="submit" name="add">Выполнить</button>
</form>
<style>
    input {
        margin-bottom: 4px;
        width: 100px;
        padding: 4px 10px;
        border: 1px solid #666;
        color: black;
        font-size: 16px;
        font-family: sans-serif;
    }
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
        color: black;
        font-family: sans-serif;
    }
</style>