<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Номер телефона</th>
        <th>Адрес</th>
    </tr>
    </thead>
    <tbody>
    {%  for row in data %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.phoneNumber}}</td>
            <td>{{row.address}}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>