<form action="/" method="GET">
    <br><label>Получить запись по ID</label><br>
    <input name="id" type="text"><br>
    <button type="submit" name="getId">Выполнить</button>
</form>
<style>
    input {
        margin-bottom: 4px;
        width: 100px;
        padding: 4px 10px;
        border: 1px solid #666;
        font-family: sans-serif;
        color: black;
        font-size: 16px;
    }
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        color: black;
    }
</style>