<!DOCTYPE html>
<html lang="en">
<form method="GET" action="/">
    <button type="submit" name="getAll">Вывести всех</button>
    <button type="submit" name="getById">Найти по ID</button>
    <button type="submit" name="getByPhoneNumber">Найти по номеру телефона</button>
    <button type="submit" name="deleteById">Удалить по ID</button>
    <button type="submit" name="add">Добавить</button>
</form>
</html>